.bestsellers-main-container {
  display: block;
  text-align: center;
  /* margin: 20px; */
  /* padding: 15px; */
  /* margin-top: 45px; */
  padding-top: 8em;
  padding-bottom: 8em;

  display: flex;
  justify-content: center;
}
.bestseller-width-container{
  width: 75em;
}
.bestseller-sub-container-part{
  display: block;
}
.bestsellers-main-container-of-products {
  display: flex;
  margin-top: 80px;
  column-gap: 60px;
  justify-content: center;
}
.bestsellers-tag-line {
  font-size: 40px;
  padding-bottom: 20px;
}

.bestsellers-tag-line-para {
  color: dimgray;
}

.bestseller-product-card-blank{
  width: 20%;
}

.bestseller-product-card-one {
  display: block;
  width: 21%;
  background-color: rgb(207, 250, 209);
  justify-content: center;
}
.bestseller-product-card-one-for-image {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.bestseller-product-card-one-for-details {
  display: flex;
  /* margin-top: 20px; */
  padding: 15px;
  /* justify-content: center; */
  text-align: left;
}

.bestseller-product-card-one-for-image-product-one-like {
  height: 50px;
  width: 50px;
}

.bestseller-product-card-one-for-image-product-one {
  height: 300px;
  width: 300px;
  margin-top: -85px;
}

.bestseller-product-card-one-for-details-button {
  color: white;
  background-color: orangered;
  border: none;
  padding: 5px;
  width: 100px;
  height: 35px;
  margin-left: 80px;
  cursor: pointer;
}

.bestseller-product-card-two {
  display: block;
  width: 24%;
  background-color: white;
  justify-content: center;
  padding: 15px;
}
.bestseller-product-card-two-for-image {
  display: flex;
  justify-content: center;
}
.bestseller-product-price-details {
  color: orangered;
  font-size: 15px;
}

.bestseller-product-card-two-for-image-product-two-like {
  height: 50px;
  width: 50px;
}

.bestseller-product-card-two-for-image-product-two {
  height: 300px;
  width: 300px;
  margin-top: -85px;
}

.bestseller-product-card-two-for-details-button {
  color: white;
  background-color: black;
  border: none;
  padding: 5px;
  width: 100px;
  height: 35px;
  margin-left: 80px;
  cursor: pointer;
}


@media (min-width:320px) and (max-width: 420px){
    .bestsellers-main-container-of-products{
        display: block;
    }

    .bestseller-product-card-one{
        /* padding: 15px; */
        width: 100%;
        justify-content: space-between;
        margin-top: 15px;
    }
    .bestseller-product-card-two{
        padding: 20px;
        width: auto;
        justify-content: space-between;
    }
    .bestseller-product-card-one-for-image-product-one {
      height: 200px;
      width: 100%;
      padding-left: 80px;
      margin: 0px;
    }

    .bestseller-product-card-two-for-image-product-two{
      height: 200px;
      width: 300px;
      padding-left: 80px;
    }
    .bestseller-sub-container-part{
      padding: 15px;
    }
.bestsellers-main-container {
  padding-top: 4em;
  padding-bottom: 4em;
  }
}